<% wrap_layout :layout do %>
  <article>
    <header id="article-header">
      <%= partial 'shared/next_previous_article_links' %>
      <h1><%= current_article.title %></h1>
      <div class="date">
        <%= current_article.date.strftime('%B %e, %Y') %>
      </div>
    </header>
    <%= yield %>
  </article>
  <section>
    <%= partial 'shared/next_previous_article_links' %>
  </section>
  <section>
    <hr/>
    <h2>Recent Articles:</h2>
    <% recent_articles = published_articles.reject { |a| a == current_article }.first(3) %>
    <%= partial 'shared/articles_list', locals: { articles: recent_articles, with_title: false } %>
  </section>
<% end %>
